*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

h1{
    margin: 40px;
}

.containe-main{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: blue;

}

.card{
    border: 5px solid;
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 20px;
    padding: 10px;
    background: yellow;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.card:hover{
    width: 250px;
    height: 250px;
    background: rgba(122, 122, 7, 0.993);
}


h3{
    
}
    
    