body{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
   
}

/*

h2{
    text-align:justify;
}

h3{

    text-align-last: justify;
    

}  */

h2{
    direction: rtl;
    unicode-bidi:bidi-override;
}

/*
#text-alingn-01 {text-align: justify;}
*/

#text-alingn-01{}